<a href="https://colab.research.google.com/github/YoungriKIM/Python_200/blob/main/Python_200_9_if.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 101) 파이썬에서 true, false를 갖는 데이터 타입은?
# bool : 불리언(Booleans)

print(type(True))       #<class 'bool'>
print(type(False))      #<class 'bool'>

#----------------------------------------------

print(3 == 5)
# False

#----------------------------------------------

print(3 < 5)
# True

#----------------------------------------------

x = 4
print(1 < x < 5)
# True

#----------------------------------------------

print((3 == 3) and ( 4 != 3))
#   ==   같다.
#   !=   다르다.
# True

#----------------------------------------------

# print(3 => 4)
# SyntaxError: invalid syntax

#----------------------------------------------

if 4 < 3:
    print('Hello world.')
else:
    print('Hi, there.')

#Hi, there

#----------------------------------------------

In [ ]:
# 109)
if True:
    print('1')
    print('2')
else:
    print('3')
print('4')

1
2
4

In [ ]:
# 110)
if True:
    if False:
        print('1')
        print('2')
    else:
        print('3')
else:
    print('4')
print('5')

3
5

In [ ]:
# 111) 입력받은 문자열을 두번 출력하게 해라

user = input('입력: ')
print(user*2)

여기에: 안녕
안녕안녕

In [ ]:
# 112) 숫자 입력받고 거기에 10 더하기

user = input('숫자를 입력하세요: ')
print(int(user)+10)
# 입력 된 숫자가 str 타입으로 들어와서 int로 만들어주어야 함

숫자를 입력하세요: 30
40

In [ ]:
# 113) 입력받은 값이 짝수/홀수 인지 판별

user = input('짝수일까 홀수일까: ')
if int(user) % 2 == 0:      # 2로 나눈 나머지가 0이라면 짝수
    print('짝수')
else:
    print('홀수')

짝수일까 홀수일까: 11
홀수

In [ ]:
# 114) 입력 받은 값 + 20 / 단 225 넘으면 안됨

user = input('입력값: ')

result = int(user) + 20

if result < 255:
    print('출력값: ', result)
else:
    print('출력값: ', 255)

입력값: 300
출력값:  255

In [ ]:
# 115) 입력 받은 값 - 20 / 단 0~255 사이

user = input('입력값: ')

result = int(user) - 20 

if result > 255 :
    print('결과: ', 255)
elif result < 0 :
    print('결과: ', 0)
else :
    print('결과: ', result)

입력값: 30
결과:  10

In [ ]:
# 116) 입력받은 시간이 정각인가?

user = input('시간 입력 ')

if user[3:] == '00' :
    print('정각입니다.')
else:
    print('정각이 아닙니다.')

시간 입력: 12:21
정각이 아닙니다.

In [ ]:
# 117) 입력받은 단어가 리스트에 포함되어 있는가?

fruit = ['체리', '망고', '블루베리', '천도복숭아']

user = input('좋아하는 과일은? ')

if user in fruit:
    print('정답!')
else:
    print('아쉽!')

좋아하는 과일은? 천도복숭아
정답!

In [ ]:
# 118) 입력받은 단어가 리스트에 있다면 경고문 출력

warn_investment_list = ['Microsoft', 'Google', 'Naver', 'Kakao', 'Samsung', 'LG']

user = input('투자할 종목: ')

if user in warn_investment_list:
     print('투자 경고 종목입니다.')
else:
    print('투자 경고 종목이 아닙니다.')

투자할 종목: LG
투자 경고 종목입니다.

In [ ]:
# 119) 입력 받은 단어가 딕셔너리의 키 값인가?

fruit = { '봄' : '딸기', '여름' : '복숭아', '가을' : '체리'}

user = input('내가 좋아하는 계절은 ')

if user in fruit:
    print('정답!')
else:
    print('오답!')

내가 좋아하는 계절은 봄
정답!

In [ ]:
# 120) 입력 받은 단어가 딕셔너리의 밸류 값인가?

fruit = { '봄' : '딸기', '여름' : '복숭아', '가을' : '체리'}

user = input('내가 좋아하는 과일은 ')

if user in fruit.values():
    print('정답!')
else: 
    print('오답!')

내가 좋아하는 과일은 포도
오답!

In [ ]:
# 121) 입력받은 문자가 소문자면 대문자, 대문자면 소문자로 출력

user = input('입력: ')

judge = user.islower()

if judge == True:
    print(user.upper())

else:
    print(user.lower())

입력: APPLE
apple

In [ ]:
# 122) 입력받은 점수는 몇 학점일까요?

user = input('점수 입력 ')

if 0 <= int(user) <= 20:
    print('E')
elif 21 <= int(user) <= 40:
    print('D')
elif 41 <= int(user) <= 60:
    print('C')
elif 61 <= int(user) <= 80:
    print('B')
elif 81 <= int(user) <= 100:
    print('A')

점수 입력 100
A

In [ ]:
# 123) 입력한 금액과 통화종류에 환률을 적용해 한화로 바꾸자

환율 = {'달러' : 1167,\
         '엔' : 1.096,\
        '유로' : 1268,\
        '위안' : 171}

user = input('금액+통화종류: ')

num, currency = user.split()
print(float(num) * 환율[currency], '원')

금액+통화종류: 45 위안
7695.0 원

In [ ]:
a = '앞부분과 뒷부분'
num, currency = a.split('과 ')

print(num)
print(currency)

b = '앞부분,뒷부분'
front, back = b.split(',')

print(num)
print(currency)

앞부분
뒷부분
앞부분
뒷부분

In [ ]:
# 124) 입력 받는 것중 가장 큰 값 출력
import numpy as np
user1 = input('number: ')
user2 = input('number: ')
user3 = input('number: ')

a = [int(user1), int(user2), int(user3)]
print(np.max(a))

number: 2
number: 4
number: 7
7

In [ ]:
# 125) 핸드폰 번호를 받아서 어느 통신사인지 반환

user = input(' - 이 들어간 핸드폰 번호를 입력하세요. \n')

num = user.split('-')[0]

if num == '011':
    com = 'SKT'
elif num == '016':
    com = 'KT'
elif num == '019':
    com = 'LGU'
else:
    com = '알수 없음'

print(f'당신은 {com} 사용자입니다.')

 - 이 들어간 핸드폰 번호를 입력하세요.
016-1111-2222
당신은 KT 사용자입니다.

In [ ]:
# 126) 우편번호를 받아 지역을 반환해라

user = input('우편번호를 입력하세요: \n')
num = user[:3]

if num in ['010', '011', '012']:
    local = '강북구'
elif num in ['013', '014', '015']:
    local = '도봉구'
else:
    local = '노원구'

print(f'당신의 지역은 {local}입니다.')

우편번호를 입력하세요:
016
당신의 지역은 노원구입니다.

In [ ]:
# 127) 주민번호 7번째 자리로 성별 반환하기

user = input('주민등록번호: ')

num = user[7]
print(num)

if num == '2' or num == '4':
    print('여자')
else:
    print('남자')

주민등록번호: 940513-1552200
1
남자

In [ ]:
# 128) 주민번호에서 지역 반환하기

user = input('주민등록번호: ')

num = user.split('-')[1]

if 0 <= int(num[2]) <= 8:
    print('서울입니다.')
else:
    print('서울이 아닙니다.')

주민등록번호: 930414-2049955
서울입니다.

In [ ]:
# 129) 주민번호 마지막 숫자로 유효성 체크

user = input('주민번호 입력: ')

num1, num2 = user.split('-')

set1 = np.array([2,3,4,5,6,7])
set2 = np.array([8,9,2,3,4,5])

for i in np.arange(0, 6)
a = int(num1[i]) * set[i]
b = np.sum(a)
print(b)
     
print(a)

주민번호 입력: 453657-4534565
23

In [ ]:
num1, num2 = user.split('-')

set1 = np.array([2,3,4,5,6,7])
set2 = np.array([8,9,2,3,4,5])


for i in np.arange(0, 6):
    a = int(num1[i]) * set1[i]
    a = int(a)
    sum += a
    print(b)

TypeError: ignored