<a href="https://colab.research.google.com/github/YoungriKIM/Python_200/blob/main/Python_200_5_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 61) 슬라이싱 =======================
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

# 62) 슬라이싱+오프셋 ========================
# 홀수만 반환
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])        #[1, 3, 5, 7, 9]

# 짝수만 반환
print(nums[1::2])       #[2, 4, 6, 8, 10]

# 역으로 반환
print(nums[::-1])       #[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 65) 원하는 것만 반환 ==========================
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

# 66) join  =============================
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))   #삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
# ' ' 을 중간에 놓고 붙이겠다.
print('/'.join(interest))   #삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
# '/' 을 중간에 놓고 붙이겠다.
print('\n'.join(interest))
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우

# 69) split 으로 나눠야쥐 ================================= 
string = "삼성전자/LG전자/Naver"
print(string.split('/'))        #['삼성전자', 'LG전자', 'Naver']

# 70) 리스트 정렬하기 sort ===============================
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)                 #[1, 2, 3, 4, 5, 9, 10]

data2 = [2, 4, 3, 1, 5, 10, 9]
data3 = sorted(data2)
print(data3)                #[1, 2, 3, 4, 5, 9, 10]