<a href="https://colab.research.google.com/github/YoungriKIM/Python_200/blob/main/Python_200_6_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
# 71) 튜플을 만들어보삼 ============================
my_variable = ()
print(type(my_variable))        #<class 'tuple'>

# 72) 여러개를 튜플에 넣으삼 ======================
movie = ('우정리노트', '토깽뎐', '서리사막의 도둑들')
print(movie)
print(type(movie))              #<class 'tuple'>

# 73) 숫자1이 저장된 튜플 ==========================
num1 = (1)
print(num1)
print(type(num1))       # <class 'str'>

num1 = ('1')
print(num1)
print(type(num1))       #<class 'str'>

# 하나의 데이터만 저장할 경우 뒤에 ,를 찍어줘야 한다.
num3 = (1,)
print(num3)             #(1,)
print(type(num3))       #<class 'tuple'>

# 74) 튜플은 불변형 =============================
t = (1, 2, 3)
# t[0] = 'a'

# Traceback (most recent call last):
#   File "<pyshell#46>", line 1, in <module>
#     t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment

# 튜플은 리스트와 달리 불변형이다.

# 75) () 괄호 안 하면 어떻게 될까 ==========================
t = 1, 2, 3, 4
print(type(t))          #<class 'tuple'>
# 괄호 안 해도 알아서 튜플로 인식

# 76) 튜플 안의 문자를 대문자로 =============================
t = ('a', 'b', 'c')
# 튜플은 수정이 불가능해서 그냥 새로 지정해주어야 한다.
t = ('A', 'b', 'c')

# 77) 튜플을 리스트로 list() =============================
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest2 = list(interest)
print(type(interest2))      #<class 'list'>

# 78) 리스트를 튜플로 tuple() ==============================
interest3 = ['삼성전자', 'LG전자', 'SK Hynix']
interest4 = tuple(interest3)
print(type(interest4))      #<class 'tuple'>

# 79) 튜플의 내용 변수로 지정해주기 ==============================
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)      # apple banana cake

# 80) 짝수만 저장하게하는 튜플 만들기 ===========================
# (2, 4, 6, 8 ... 98)
a = range(2, 99)
b = a[::2]
c = tuple(b)
print(type(c))      # <class 'tuple'>
print(c)            # (2, 4, 6, 8 ... 98)

<class 'tuple'>
('우정리노트', '토깽뎐', '서리사막의 도둑들')
<class 'tuple'>
1
<class 'int'>
1
<class 'str'>
(1,)
<class 'tuple'>
<class 'tuple'>
<class 'list'>
<class 'tuple'>
apple banana cake
<class 'tuple'>
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)