# 171~

In [3]:
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

# 더 좋은 함수
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500
32100
32150
32000
32500

In [6]:
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(abs(i-3), price_list[i])

# 다른 함수
for i in range(len(price_list)):
    print((len(price_list)-1)-i, price_list[i])

3 32100
2 32150
1 32000
0 32500
3 32100
2 32150
1 32000
0 32500

In [8]:
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for i in range(1, len(price_list)):
    print(100+((i-1)*10), price_list[i])

100 32150
110 32000
120 32500

In [11]:
# my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for i in range(0, (len(my_list)-1)):
    print(my_list[i], my_list[i+1])

# 다른 함수
for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라
가 나
나 다
다 라

In [13]:
# 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

for i in range(2, len(my_list)):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라
다 라 마
가 나 다
나 다 라
다 라 마

In [24]:
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for i in range(0, len(my_list)-1):
    print(my_list[abs(i-3)], my_list[abs(i-2)])

for i in range(0, len(my_list)-1):
    print(my_list[3-i], my_list[2-i])

for i in range(len(my_list)-1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가
라 다
다 나
나 가
라 다
다 나
나 가

In [26]:
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.
# 차분값 : 두 값의 차이

my_list = [100, 200, 400, 800]

# [i] - [i+1]
# [i+1] - [i+2]
# [i+2] - [i+3]

for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [28]:
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

# ([i] + [i+1] + [i+2])/3

for i in range(len(my_list)-2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [30]:
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

# high[i]-low[i]= gap

gap = []
for i in range(len(low_prices)):
    gap.append(high_prices[i]-low_prices[i])
print(gap)

[50, 100, 30, 80, 0]

# 181~

In [32]:
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호
# 201호	202호
# 301호	302호

apart = [['101호', '102호'],['201호', '202호'],['301호', '302호']]

In [33]:
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [36]:
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330

stock = {'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [ ]:
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200

stock = {'10/10':[80, 110, 70, 90], '10/11':[210, 230, 190, 200]}

In [41]:
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

# [0][0]
# [0][1]
# [1][0]
# [1][1]
# [2][0]
# [2][1]

for i in range(len(apart)):
    print(apart[i][0],'호');print(apart[i][1],'호')

# 이게 더 낫지...
for row in apart:
    for col in row:
        print(col,'호')

101 호
102 호
201 호
202 호
301 호
302 호
101 호
102 호
201 호
202 호
301 호
302 호

In [43]:
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [44]:
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [47]:
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호');print('-'*5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [49]:
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')
    print('-'*5)

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [50]:
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')
print('-'*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----