<a href="https://colab.research.google.com/github/YoungriKIM/Python_200/blob/main/Python_200_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [143]:
# 18) 문자열을 실수로 변환 ==========================
num = "15.79"
print(type(num))
num2 = float(num)
print(num2)
print(type(num2))

# 19) ==========================
year = "2020"
a = int(year)
print(a+1, a, a-1)

# 20) ==========================
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

월금액 = 48584
개월 = 36
총 = 월금액*개월
print('총 금액: ',총)

# 21) 첫번째, 세번째만 반환 ==========================
letters = 'python'
print(letters[0], letters[2])

# 22) 끝 4자리만 반환 ==========================
license_plate = "24가 2210"
print(license_plate[-4:])

# 23) 슬라이싱하기 + 오프셋 ==========================
string = "abcdefghijk"
print(string[::1])      #abcdefghijk    # 한 칸씩
print(string[::2])      #acegik         # 두 칸씩
print(string[::3])      #adgj           # 세 칸씩
print(string[::-1])     #kjihgfedcba    # 거꾸로

# 24) 거꾸로 반환하기 ==========================
string = "PYTHON"
print(string[::-1])      #NOHTYP

# 25) 특정문자만 바꾸기 (replace) ==========================
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))    #010 1111 2222

# 27) 특정문자 기준으로 분리하기 (split) ==========================
url = "http://sharebook.kr"
urltail = url.split('.')[1]
print(urltail)      #kr

# 28) 문자열은 할당 메서드 지원 놉 ==========================
# lang = 'python'
# lang[0] = 'P'
# print(lang)
# TypeError: 'str' object does not support item assignment

# 29, 30) 문자열은 replace 되지만 불변형이라 매번 변수를 지정해 주어야 함 ==========================
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))     #Abcdfe2A354A32A

string = 'abcd'
string.replace('b', 'B')
print(string)                       #abcd  변경 안 되었음! 문자는 불변형 주의

# 34) ==========================
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)        #python java python java python java python java 

# 35) % formatting ==========================
# %s는 문자열 데이터 타입의 값
# %d는 정수형 데이터 타입 값
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

<class 'str'>
15.79
<class 'float'>
2021 2020 2019
총 금액:  1749024
p t
2210
abcdefghijk
acegik
adgj
kjihgfedcba
NOHTYP
010 1111 2222
kr
Abcdfe2A354A32A
abcd
python java python java python java python java
이름: 김민수 나이: 10
이름: 이철희 나이: 13